{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>Edit Task</h2>
            <form class="confirmation-edit" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <a class="btn btn-default" href="{% url 'home'%}">Cancel</a>

            <input type="submit" class="btn confirm-button" value="Confirm">
            </div>
    </div>    
    
</div>

{% endblock %}