{% extends "base.html" %}
{% load static %}

{% block content %}



{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
	<strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}

<center class="row">
	<h1><i> OUR ORGANISER</i></h1>
	<hr />
</center>

<div class="row">

	<div class="col-md-6">

		{% for i in list %}
		<div class="card">
			<center><b>{{i.title}}</b></center>
			<hr />
			Date: {{i.date}}
			<hr />
			Task: {{i.details}}
			<hr />
			Allocated by: {{i.author}}
			<hr />
			Allocated to: {{ i.allocated_to.username}}
			<br />
			<br />
			<form action="{% url 'edit_item' i.id %}" method="GET" style="padding-right: 4%; padding-bottom: 3%;">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary" style="float: right;">Edit</button>
			</form>
			<form action="/del/{{i.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
				{% csrf_token %}
				<a class="btn btn-primary" style="float: right;" href=" {% url 'remove_item' i.id %}"> Remove </a>
			</form>
		</div>
		{% endfor%}
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<div class="submit_form">
			<form method="POST">
				{% csrf_token %}
				{% for field in forms %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
					{{ field }}
				</div>
				{% endfor %}
				<center>
					<input type="submit" class="btn btn-default" value="submit" />
				</center>
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block copyright %}
Copyright 2024 Rebecca Allford
{% endblock %}