{% extends "base.html" %}
{% load static %}


{% block content %}

<main>

    <div class="image hero-image-family position-relative">
        <h1 class="position-absolute end-0 d-none d-md-block logo"><strong>Organise your Life!</strong></h1>

        <img src="{% static 'todo/images/family.jpeg'%}" alt="Family Image"> class="z-index-1 hero" width="100%"
            alt="Family enjoying free time">

    </div>


    <div class="container-fluid">
        <div class="col">
            <div class="row">

                <div class="col-md-8 text-center">

                    <h3 class="text-center"><strong>Welcome To Family Oraniser</strong></h3>
                    <hr>

                    <p class="about">
                    </p>
                    <hr>
                </div>
                <div class="col-md-4 text-center">

                    <div class="sign-In">
                        <p class="start-organising">Let Start Organising<spann><strong></p>
                        <a class="btn btn-default" href="{{ signup_url }}">Sign Up/In</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

</main>


{% endblock %}