{% extends "base.html" %}
{% load static %}


{% block content %}

<main>

    <div class="image hero-image-family position-relative">
        <h1 class="position-absolute end-0 d-none d-md-block logo"><strong>Organise your Life!</strong></h1>

        <img src="{% static 'images/family.jpeg'%}" class="z-index-1 hero" width="100%"
            alt="Family enjoying free time">

    </div>


    <div class="container-fluid">
        <div class="col">
            <div class="row">

                <div class="col-md-8 text-center">

                    <h3 class="text-center"><strong>Welcome To Family Oraniser</strong></h3>
                    <hr>

                    <p class="about">                                                                                                                                                           
                        Your new go-to app for simplifying and enhancing your busy family life! We understand that juggling work, social activities, and children’s events can be overwhelming. That’s why we’ve created Family Organiser – to help you stay on top of it all with ease.
                       
                       Imagine a life where you never miss an appointment, always know who’s responsible for each task, and have more quality time to spend with your loved ones. Our app is designed to reduce the stresses of family management by providing a clear and organized platform for everyone to coordinate their schedules and responsibilities.
                       
                       With Family Organiser, you can:
                       
                       Post and Assign Tasks: Easily create tasks and assign them to family members so everyone knows what needs to be done.
                       Comment and Respond: Communicate efficiently about tasks, updates, and any issues that arise.
                       Stay on Track: Keep track of social events, work commitments, and children’s activities all in one place.
                       No more arguments about missed appointments or who forgot to buy milk. Family Organiser ensures everyone is on the same page, making it easier to manage daily life and leaving more time to enjoy together as a family.
                       
                       Join us today and experience a more organized, stress-free family life with Family Organiser!
                       
                       
                       
                       
                       
                       
                    </p>
                    <hr>
                </div>
                <div class="col-md-4 text-center">

                    <div class="sign-In">
                        <p class="start-organising">Let Start Organising<spann><strong></p>
                        <a class="btn btn-default" href="{{ signup_url }}">Sign Up/In</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>


{% endblock %}